<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>首页</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/common.css">

    <script type="text/javascript" src="js/jquery-3.5.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.bundle.js"></script>

    <script type="text/javascript" th:inline="javascript">
        $(function () {
            var $likeBtn = $("#img1");
            var toggle = false;
            // $likeBtn.click(function () {
            //         if (toggle) {
            //             $likeBtn.attr("src", "/img/like.png");
            //             $likeBtn.attr("class", "like");
            //             toggle = false;
            //         } else {
            //             $likeBtn.attr("src", "/img/liked.png");
            //             $likeBtn.attr("class", "like2");
            //             toggle = true;
            //         }
            //     }
            // )

            $(".like").click(function () {//奇怪，class=like 点击才会触发，可是class改成like2 还是可以触发
                $.ajax({
                    url:[[@{/like}]],
                        type:"GET",
                    data:{"url":$(this).attr("value")},
                async:false,
                    success:function(url) {
                        if(url=="un"){
                           $("#likemessage").text("请先登录")
                        }else{
                            var pic = document.getElementById(url);//DOM对象
                            var $pic_jq = $(pic)//jquery对象
                            if($pic_jq.attr("src")=="/img/liked.png"){
                                $pic_jq.attr("src",[[@{/img/like.png}]])
                                $pic_jq.attr("class","like")
                            }else{
                                $pic_jq.attr("src",[[@{/img/liked.png}]])
                                $pic_jq.attr("class","like2")
                            }
                        }
                    }
                })
            });
        });
        var pictest="view.jpg"
        $(document).ready(function () {
            if([[${#session.getAttribute('user') != null}]]){
                var $temp
                $.each([[${likelist}]],function (i,val) {
                    $temp = $(document.getElementById(val))
                    $temp.attr("src",[[@{/img/liked.png}]])
                    $temp.attr("class","like2")
                })
            }
        })
    </script>
</head>
<style>
/*
    .out:hover {
        -webkit-filter: blur(1px);
        -moz-filter: blur(1px);
        -o-filter: blur(1px);
        -ms-filter: blur(1px);
        filter: blur(0.5px);
    }
*/

</style>
<body>


<div class="navbar navbar-dark bg-dark shadow-sm" id="thetop">
    <div class="container d-flex justify-content-between">
        <a th:href="@{/index2}" class="navbar-brand d-flex align-items-center">
            <img src="/img/logo2.png" width="40" height="40" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></img>
            <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
            <strong>coooool</strong>
            <span id="likemessage"></span>
        </a>
        <span class="navbar-toggler" >
            <a th:if="${#session.getAttribute('user') == null}" th:href="@{/login}" style="color: #fff;">登录</a>
            <a th:if="${#session.getAttribute('user') != null}" th:href="@{/mine}" ><img th:src="${'/pic/head/'+head}" class="minehead"></a>
        </span>
    </div>
</div>

<div class="bigout container">
    <div class="row">
        <div class="out col-lg-4 col-md-12 col-sm-12 col-xs-12" th:each="url:${picname}">
            <img th:src="${'/pic/'+url}" class="pic">
            <div style="width: 100%;display: flex">
                <div class="likeimg">
                    <img class="like" th:src="@{/img/like.png}" th:value="${url}" th:id="${url}">
                </div>
                <div style="position:absolute;right: 1rem;">

                    <a  th:href="${'/pic/'+url}" th:download="${url}">
                        <img src="/img/download.png" class="downloadimg">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<p class="mt-5 mb-3 text-muted copy">&copy; handsome_xie</p>
<a  href="#thetop" ><img src="/img/ic_totop.png" style="width: 2rem;height: 2rem; position:fixed;right: 1rem;bottom: 1rem;"></a>
</body>
</html>