<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<style>
    .divcenter {
        margin: 0 auto;
        border: 1px solid #888888;
        text-align: center;
    }
    .joinus{
        text-decoration: none;
        color: #0366d6;
    }
    .joinus:hover{
        text-decoration: underline;
    }
</style>
<body>
<div class="divcenter">
    <h1>登录</h1>
    <span th:text="${loginmessage}" style="color: #cc2222" th:if="${not #strings.isEmpty(loginmessage)}"></span><br/>
    <span th:text="${uploadmessage}" style="color: #cc2222" th:if="${not #strings.isEmpty(uploadmessage)}"></span><br/>
    <form th:action="@{/index}" method="post">
        账号：<input type="text" name="username"/><br/>
        密码：<input type="password" name="password"/>
        <br/>
        <input type="submit" value="登录">
    </form>
    <span>come and join us，<a class="joinus" th:href="@{/register}">注册账号</a></span>
</div>

<div id="js-flash-container">

    <div class="flash flash-full flash-error ">
        <div class="container-lg px-2">
            <button class="flash-close js-flash-close" type="button" aria-label="Dismiss this message">
                <svg class="octicon octicon-x" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M3.72 3.72a.75.75 0 011.06 0L8 6.94l3.22-3.22a.75.75 0 111.06 1.06L9.06 8l3.22 3.22a.75.75 0 11-1.06 1.06L8 9.06l-3.22 3.22a.75.75 0 01-1.06-1.06L6.94 8 3.72 4.78a.75.75 0 010-1.06z"></path></svg>
            </button>

            Incorrect username or password.

        </div>
    </div>

</div>
</body>
</html>