<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>我的信息</title>
    <script type="text/javascript" src="js/jquery-3.5.1.min.js"></script>
    <script type="text/javascript"  th:inline="javascript">
        $(function () {
            $("#myupload").click(function () {
                $.ajax({//上传按钮
                    url:[[@{/mineupload}]],
                        type:"GET",
                    data:{"url":$(this).attr("value")},
                async:false,
                    success:function(url) {
                        // alert(url)
                    // $("#change_mod").empty();
                    // var a="hello"
                    // $("#change_mod").append(a);//////////////////////////////////搁置
                    }
                })
            });
            $("#head_pic").click(function () {//
                $("#upload").trigger("click");
                $("#submit").attr("disabled", false);
            });
            $(".like2").click(function () {
                $.ajax({
                    url:[[@{/like}]],
                        type:"GET",
                    data:{"url":$(this).attr("value")},
                async:false,
                    success:function(url) {
                        var pic = document.getElementById(url);//DOM对象
                        var $pic_jq = $(pic)//jquery对象
                        if($pic_jq.attr("src")=="/img/liked.png"){
                            $pic_jq.attr("src",[[@{/img/like.png}]])
                            $pic_jq.attr("class","like")
                        }else{
                            $pic_jq.attr("src",[[@{/img/liked.png}]])
                            $pic_jq.attr("class","like2")
                        }
                    }
            }   )
            });
        })
        function show(){
            let picform = document.getElementById("picform");
            picform.submit();
        }
        function choosefile(){
            let picform = document.getElementById("picupload");
            picform.click();
        }
    </script>
    <link href="/css/album.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
</head>
<style>

    .midleft {
        width: auto;
        height: auto;
        display: block;
    }

    .logobig {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
    }
    .logobig:hover {
        -webkit-filter: blur(1px);
        -moz-filter: blur(1px);
        -o-filter: blur(1px);
        -ms-filter: blur(1px);
        filter: blur(1px);
    }
    .emptybox{
        width: 100%;
        text-align: center;
    }
    .emptypic{
        width: 300px;
        height: 225px;
        margin: -20px auto;
    }
    .fn{
        padding-bottom: 10px;
        margin: 0 10px  ;
        color: #767676;
        font-size: 1.5rem;
    }
    .fn_now{
        color: #111111;
        padding-bottom: 10px;
        margin: 0 10px;
        font-size: 1.5rem;
        box-shadow: inset 0 -2px #111;
    }
    .fn_now:hover{
        color: #111111;
        text-decoration: none;
    }
    .fn:hover{
        text-decoration: none;
        color: #111111;
    }
</style>
<body>
<div class="navbar navbar-dark bg-dark shadow-sm"  id="thetop">
    <div class="container d-flex justify-content-between">
        <a th:href="@{/index2}" class="navbar-brand d-flex align-items-center">
            <img src="/img/logo2.png" width="40" height="40" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></img>
            <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
            <strong>coooool</strong>
        </a>
        <span class="navbar-toggler">
            <img th:src="${'/pic/head/'+head}" class="minehead">
        </span>
    </div>
</div>
<section class="jumbotron text-center"  style="background-color: #ffffff;">
        <div class="container">
            <div class="head_info">
                <div class="midleft">
                    <form id="form" th:action="@{/headupload}" method="post" enctype="multipart/form-data">
                        <input type="file" id="upload" hidden name="head" accept="image/*">
                        <img th:src="${'/pic/head/'+head}" class="logobig" id="head_pic" alt="${head}">
                        <div><input id="submit" type="submit" value="更新" disabled>
                        </div>
                    </form>
                </div>
                <div style="display: block">
                    <h1 th:text="${username}"></h1>
                    <p class="lead text-muted" style="">邮箱&nbsp;:<span th:text="${email}"></span></p>
                    <p class="lead text-muted" style="">QQ&nbsp;:&nbsp;<span th:text="${qq}"></span></p>

                    <form th:action="@{/clickupload}" method="post" enctype="multipart/form-data" id="picform">
                        <p>
                            <a th:href="@{/userinfoedit}" class="btn btn-primary my-2">修改信息</a>
                            <input type="file" id="picupload" name="upload" accept="image/*" onchange="show();" hidden>

                            <a class="btn btn-primary my-2" onclick="choosefile();">上传图片</a>
                            <a th:href="@{/quit}" class="btn btn-secondary my-2">退出</a>
                        </p>
                    </form>

                </div>
            </div>
    </div>
</section>
<div class="bot" >
    <div style="display: flex;margin-left: 5rem;">
        <a class="fn_now">收藏</a>
        <a class="fn" id="myupload" th:href="@{/mine2}">上传</a>
    </div>
    <hr style="margin: 0;">
    <div id="change_mod">
        <div  class="emptybox">
            <img class="emptypic" th:src="@{/img/empty.png}" th:if="${picname.size() eq 0} ">
        </div>
        <div class="bigout container">
            <div class="row">
                <div class="out col-lg-4 col-md-12 col-sm-12 col-xs-12" style="position:relative;" th:each="url:${picname}">
                    <img th:src="${'/pic/'+url}" class="pic">
                    <div style="width: 100%;display: flex">
<!--                        //左右分布-->
                        <div class="likeimg">
                            <img class="like2" th:src="@{/img/liked.png}" th:value="${url}" th:id="${url}" >
                        </div>
                        <div style="position:absolute;right: 1rem;">
                            <a  th:href="${'/pic/'+url}" th:download="${url}">
                                <img src="/img/download.png" class="downloadimg">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p class="mt-5 mb-3 text-muted copy">&copy; handsome_xie</p>

<a  href="#thetop" ><img src="/img/ic_totop.png" style="width: 2rem;height: 2rem; position:fixed;right: 1rem;bottom: 1rem;"></a>

</body>
</html>