<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf">
<head>
    <meta charset="UTF-8">
    <title>图片上传</title>
</head>
<style>
    .upload {
        margin: auto;
        width: 200px;
        height: 50px;
        border: 1px solid #000000;
    }
</style>
<body>
<div class="upload">
    <form th:action="@{/picupload}" method="post" enctype="multipart/form-data">
        <input type="file" name="upload" accept="image/*">
        <br/><br/>
        <!--    <input type="text" name="username" >-->
        <input type="submit" value="上传">
    </form>
</div>
<div align="right">
    <a th:href="@{/index2}">
        <button style="width: 50px; height: 50px">主页</button>
    </a>
</div>
<h1 th:text="${message}"></h1>
<img th:src="${picreturn}"/>
<!--<span th:text="${message}"></span>-->
<!--<span th:text="${/picture}"></span>-->
</body>
</html>