<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.handsomexie.springboot.mapper.likeMapper">
  <resultMap id="BaseResultMap" type="com.handsomexie.springboot.model.like">
    <id column="upid" jdbcType="VARCHAR" property="upid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="picname" jdbcType="VARCHAR" property="picname" />
  </resultMap>
  <sql id="Base_Column_List">
    upid, username, picname
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from likeit
    where upid = #{upid,jdbcType=VARCHAR}
  </select>
  <select id="selectByUsername" parameterType="java.lang.String" resultType="java.lang.String">
    select
    picname
    from likeit
    where username = #{username,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from likeit
    where upid = #{upid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.handsomexie.springboot.model.like">
    insert into likeit (upid, username, picname
      )
    values (#{upid,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{picname,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.handsomexie.springboot.model.like">
    insert into likeit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="upid != null">
        upid,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="picname != null">
        picname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="upid != null">
        #{upid,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="picname != null">
        #{picname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.handsomexie.springboot.model.like">
    update likeit
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="picname != null">
        picname = #{picname,jdbcType=VARCHAR},
      </if>
    </set>
    where upid = #{upid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.handsomexie.springboot.model.like">
    update likeit
    set username = #{username,jdbcType=VARCHAR},
      picname = #{picname,jdbcType=VARCHAR}
    where upid = #{upid,jdbcType=VARCHAR}
  </update>
</mapper>