<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.handsomexie.springboot.mapper.PicInfoMapper">
    <resultMap id="BaseResultMap" type="com.handsomexie.springboot.model.PicInfo">
        <id column="pic_name" jdbcType="VARCHAR" property="picName"/>
        <result column="pic_description" jdbcType="VARCHAR" property="picDescription"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="pid" jdbcType="BIGINT" property="pid"/>
    </resultMap>
    <resultMap id="picurl" type="com.handsomexie.springboot.model.PicInfo">
        <id column="pic_name" jdbcType="VARCHAR" property="picName"/>
    </resultMap>
    <sql id="Base_Column_List">
    pic_name, pic_description, username, pid
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from picinfo
        where pic_name = #{picName,jdbcType=VARCHAR}
    </select>
    <select id="selectAll"  resultType="java.lang.String">
    select
        pic_name
    from picinfo
    ORDER BY pid DESC
  </select>
    <select id="selectUpload"  parameterType="java.lang.String" resultType="java.lang.String">
    select
        pic_name
    from picinfo
    where username = #{picName,jdbcType=VARCHAR}
    ORDER BY pid DESC
  </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from picinfo
    where pic_name = #{picName,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.handsomexie.springboot.model.PicInfo">
    insert into picinfo (pic_name, pic_description, username, 
      pid)
    values (#{picName,jdbcType=VARCHAR}, #{picDescription,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{pid,jdbcType=BIGINT})
  </insert>
    <insert id="insertSelective" parameterType="com.handsomexie.springboot.model.PicInfo">
        insert into picinfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="picName != null">
                pic_name,
            </if>
            <if test="picDescription != null">
                pic_description,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="pid != null">
                pid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="picName != null">
                #{picName,jdbcType=VARCHAR},
            </if>
            <if test="picDescription != null">
                #{picDescription,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="pid != null">
                #{pid,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.handsomexie.springboot.model.PicInfo">
        update picinfo
        <set>
            <if test="picDescription != null">
                pic_description = #{picDescription,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="pid != null">
                pid = #{pid,jdbcType=BIGINT},
            </if>
        </set>
        where pic_name = #{picName,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.handsomexie.springboot.model.PicInfo">
    update picinfo
    set pic_description = #{picDescription,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=BIGINT}
    where pic_name = #{picName,jdbcType=VARCHAR}
  </update>
</mapper>